// Resource.rc

#include "Resource.h"

IDR_CONTEXT_MENU MENU DISCARDABLE
BEGIN
	POPUP "Context"
	BEGIN
		MENUITEM "Undo",														IDM_EDIT_UNDO
		MENUITEM "Redo",														IDM_EDIT_REDO
		MENUITEM SEPARATOR
		MENUITEM "Cut",															IDM_EDIT_CUT
		MENUITEM "Copy",														IDM_EDIT_COPY
		MENUITEM "Paste",														IDM_EDIT_PASTE
		MENUITEM SEPARATOR
		MENUITEM "Delete",														IDM_EDIT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "Select All",													IDM_EDIT_SELECT_ALL
		MENUITEM SEPARATOR
		MENUITEM "&About",														IDM_HELP_ABOUT
	END
END

IDR_MAIN_MENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "New",															IDM_FILE_NEW
		MENUITEM SEPARATOR
		MENUITEM "Load",														IDM_FILE_LOAD
		MENUITEM "Save",														IDM_FILE_SAVE
		MENUITEM "Save As",														IDM_FILE_SAVE_AS
		MENUITEM SEPARATOR
		MENUITEM "E&xit",														IDM_FILE_EXIT
	END
	POPUP "&Edit"
	BEGIN
		MENUITEM "Undo",														IDM_EDIT_UNDO
		MENUITEM "Redo",														IDM_EDIT_REDO
		MENUITEM SEPARATOR
		MENUITEM "Cut",															IDM_EDIT_CUT
		MENUITEM "Copy",														IDM_EDIT_COPY
		MENUITEM "Paste",														IDM_EDIT_PASTE
		MENUITEM SEPARATOR
		MENUITEM "Delete",														IDM_EDIT_DELETE
		MENUITEM SEPARATOR
		MENUITEM "Select All",													IDM_EDIT_SELECT_ALL
	END
	POPUP "&Help"
	BEGIN
		MENUITEM "&About",														IDM_HELP_ABOUT
	END
END
